@import url(reset.css);
a {
    color: rgb(30, 255, 0);
}
li {
    color: blueviolet;
}
.title {
    color: rgb(101, 180, 27);
}
#legend {
    color: rgb(13, 13, 126);
}
#zidane {
    color: rgb(95, 15, 84);
}
a.one {
    color: chartreuse;
}
a.two {
    color: rgb(26, 15, 170);
}
.championship-players.beautiful-game {
    color: rgb(218, 22, 32);
}
.evro,
.championship,
.relation,
li {
    color: blue;
}
.about-football p {
    color: rgb(139, 0, 127);
}
.number-2 {
    color: darkred;
}
.number-3 {
    color: aquamarine;
}
.number-4 {
    color: coral;
}
.number-5 {
    color: rgb(0, 255, 85);
}
.number-9 {
    color: rgb(145, 12, 12);
}
.number-10 {
    color: tomato;
}
.number-11 {
    color: rgb(0, 255, 13);
}
.number-12 {
    color:blue ;
}
.cool-class {
    color: crimson;
}
.other-class .one {
    color: blueviolet;
}
.all-objects * {
    color: green;
} 
.evro> p {
    color: crimson;
}
mark {
    color: rgb(10, 7, 182);
}
.evro~ p {
    color: rgb(47, 255, 109);
}
.evro+ p {
    color: rgb(30, 43, 156);
}
[class*="quote_container"] {
    color: deeppink;
}
span {
    color: aqua;
}