@font-face {
    font-family: "Old Standart TT";
    src: url(../fonts/oldstandardttbold.woff2) format("woff2"),
         url(../fonts/oldstandardttbold.woff) format("woff");
         font-weight: 700;
         font-style: normal;
         font-display: swap; 
}
@font-face {
    font-family: "Old Standart TT";
    src: url(../fonts/oldstandardttitalic.woff2) format("woff2"),
         url(../fonts/oldstandardttitalic.woff) format("woff");
         font-weight: normal;
         font-style: italic;
         font-display: swap;
}