@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.46;
    color: #7D7D7D;
}
.main-title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #37393F;
    line-height: 1.27;
}
.second-title {
    color: #6B77E5;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
}
.benefits {
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27; 
    margin-bottom: 15px;
}
.channels-benefits {
    color: #40DDB6;
    font-family: "Popins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 24px;
}
.third-title {
    font-family: "Inter", sans-serif;
    color: #D06B00;
    font-size: 28px;
}
.fourth-title,
.practice,
header {
    font-family: "DM Serif Text", serif;
    color: #0E333D;
    font-size: 59px;
    line-height: 1.47;
}
.about-lorem {
    font-family: "Inter", sans-serif;
    color: #474747;
    font-size: 20px;
    line-height: 1.8;
}
.first-block {
    margin: 0px auto 42px;
    margin-bottom: 40px;
    max-width: 715px
}
.management {
    margin-bottom: 24px;
}
.management img {
    padding: 10px 12px 13px 11px;
    max-width: 100%;
}
.main-title {
    margin-bottom: 3px;
}
.text-block {
    max-width: 692px;
    margin: 0 auto;
}
.about-customers {
    margin-bottom: 42px;
}
.second-title {
    margin-bottom: 12px;
}
.second-block {
    font-size: 0;
    margin: 0 auto 50px;
    max-width: 692px; 
}
.laptop {
    display: inline-block;
    vertical-align: middle;
    margin-right: 29px;
}
.laptop, 
.block-images img {
    max-width: 100%;
}
.all-benefits {
    max-width: 332px;
    max-height: 263px;
    display: inline-block;
    vertical-align: middle;
    }
.list {
    font-size: 18px;
}
.list li {
    margin-bottom: 30px;
}
.third-block {
    font-size: 0;
    margin: 0 auto 50px;
    max-width: 1200px;
}
.text-block-2 {
    display: inline-block;
    max-width: 563px;
    margin-bottom: 21px;
}
.third-title {
    margin-bottom: 13px;
    text-transform: uppercase;
}
.fourth-title {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.girl {
    margin-left: 38px;
}
.earrings {
    margin-left: 22px;
}
.girl, 
.earrings {
    max-width: 100%; 
    display: inline-block;
    vertical-align: top;
}
.practice, header {
    text-align: center;
    color: rgb(16, 161, 11);
    text-shadow: -3px 3px 3px rgb(5, 39, 231);
    background-color: #e7eb12;
    max-width: 1200px;
    margin: 0 auto 50px;
}
.fab-academy {
    background-color: #6B77E5;
    padding: 20px 10px 30px 10px;
    margin: 10px 20px -10px;
    max-width: 200px;
    display: inline-block;
}
.about-course {
    background-color: #92d000;
    margin-top: 20px;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.infrastructure {
    background-color: #f7df0a;
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    overflow: visible;
}
.selection-candidats {
    background-color: #f70a59;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
    overflow: hidden;
    margin-left: 20px;
}
.remaining-part {
    background-color: #75f70a;
    max-height: 235px;
    max-width: 235px;
    margin: 20px;
    padding: 8px;
    display: inline-block;
    overflow: scroll;
}
.practice ~ div {
    color: black;
}
.payments {
    background-color: #0af7f7;
    max-width: 220px;
    max-height: 100px;
    overflow: auto;
    display: inline-block;
}
.responsibility {
    background-color: #1ef70a;
    max-width: 220px;
    overflow-x: scroll;
    display: inline-block;
}