@import url("fonts.css");
@import url("reset.css");
body {
    padding: 20px;
    max-width: 1300px;    
    background: linear-gradient(0deg, rgba(26,185,154,0.8939950980392157) 26%, rgba(139,221,210,0.3225665266106442) 75%);
    background-repeat: no-repeat;
    margin: 0 auto;
}
.homework, .radial-1,.horizont, .city-10, .city-13, .city-22, .multifon {
    font-family: "JenaGotish", serif;
    font-weight: 400;
    font-style: normal;
}
.homework {
    font-size: 100px;
    text-transform: capitalize; 
    text-align: center;
    color: rgb(136, 5, 136);
    text-shadow: 2px 2px 40px rgb(15, 15, 15),
    -1px -1px 4px rgb(16, 17, 16);  
}
.radial-1 {
    background: rgb(255,111,0);
    background: radial-gradient(circle, rgba(255,111,0,1) 39%, rgba(255,120,120,1) 41%, rgba(255,240,239,1) 43%, rgba(0,0,0,1) 59%, rgba(62,62,62,1) 81%, rgba(32,31,31,1) 86%);
    height: 800px;
    color: rgb(31, 83, 6);
    font-size: 70px;
    text-shadow: 1px 1px 1px rgb(15, 15, 15),
    -1px -1px 1px rgb(16, 17, 16);  
    text-align: center;
    margin: 0 auto;
}
.horizont {
    height: 500px;     
    background: linear-gradient(180deg, rgba(190,145,94,1) 17%, rgba(69,64,49,1) 68%, rgba(32,31,31,1) 92%);
    font-size: 50px;
    color: crimson;
    margin-top: -500px;
    margin-bottom: 50px;
}
.city-10 {
    background-image: url(../img/photos_of_cities_10.jpg);
    background-position: center center;
    font-size: 38px;
    background-repeat: no-repeat;
    color: rgb(30, 20, 73);
    text-shadow: 0px 0px 1px rgb(15, 15, 15),
    0px 0px 1px rgb(16, 17, 16);  
    margin-bottom: 70px;
}
.arabian {
    background-image: url(../img/pattern-1.png);
    background-repeat: repeat;
    font-family: "Noto Kufi Arabic", serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(207, 12, 12),
    -1px -1px 1px rgb(207, 12, 12);  
    margin-bottom: 30px;
    line-height: 1.8;
}
.arabian p, .city-13 p {
    margin-bottom: 20px;
}
.city-13 {
    background-image: url(../img/photos_of_cities_13.jpg);
    background-repeat: repeat-x;
    color: bisque;
    font-size: 20px;
    line-height: 1.4;
}
.red {
    color: red;
}
.city-22 {
    background-image: url(../img/photos_of_cities_22.jpg);
    font-size: 25px;
    background-attachment: fixed;
    color: rgb(238, 3, 218);
    line-height: 1.5;
    background-repeat: repeat-y;
    margin-bottom: 30px;
}
.bmw {
    background-image: url(../img/bmw.jpg);
    background-attachment: fixed;
    background-position: 190px 170px;
    color: bisque;
    line-height: 2.0;
    margin-bottom: 20px;
    padding: 20px 20px 400px 20px;
    text-align: justify;
}
.gradient {
    background-image: linear-gradient(180deg, rgb(10, 13, 202, 0.9) 50%, #e2f10e 50%);;
    color: rgb(3, 3, 24);
    padding: 30px;
    border: 3px solid rgb(36, 7, 204);
    margin-bottom: 20px;
}
.border {
    border: 2px solid rgb(36, 7, 204);
}
.chevrolet-1 {
    background-image: url(../img/chevrolet.jpg);
    background-size: contain;
    color: rgb(6, 216, 6);
    margin-bottom: 40px;
}   
.chevrolet-2 {
    background-image: url(../img/chevrolet.jpg);
    background-size: cover;
    color: #28f10e;
    line-height: 2.0;
    margin-bottom: 40px;
}
.chevrolet-3 {
    background-image: url(../img/chevrolet.jpg);
    background-size: 1300px;
    color: #28f10e;
    line-height: 1.5;
    margin-bottom: 50px;
}
.chevrolet-4 {
    background: yellow url(../img/chevrolet.jpg) 20px 0px / 300px 200px no-repeat;
    padding: 40px;
    margin-bottom: 50px;
    border: #120ef1 3px solid;
    color: blueviolet;
}
.multifon {
    background: 
    url(../img/lamborgini.jpg) 0 0 / 300px no-repeat,
    url(../img/man.jpg) 1000px 0 / 300px no-repeat,
    linear-gradient(90deg, rgb(17, 95, 6), rgb(194, 15, 15)); 
    padding: 15px 265px 15px 305px;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 100px;
}
.care-about-business-plan {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
    margin: 0 auto;
    font-weight: 400;
    max-width: 1023px;
    margin-bottom: 40px;
}
.business-plan {
    padding-left: 18px;
    min-height: 22px;
    font-weight: 500;
    line-height: normal;
    color: #37393F;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: capitalize;
    background: url(../img/square.jpg) 0 5px /12px 12px no-repeat;
}
.main-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #37393F;
    text-transform: capitalize;
    max-width: 413px;
    margin-bottom: 20px;
}
.text-frameworks {
    margin-bottom: 20px;
} 
.text-frameworks p {
    margin-bottom: 15px;
}
.list {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 43px;
}
.item-1, .item-2 {
    background: url(../img/Vector.jpg) 0 3px / 27px 27px no-repeat;
    padding-left: 35px;   
    min-height: 30px; 
}
.item-1 {
    margin-bottom: 23px;
}
.part-1, .part-2 {
    display: inline-block;
    border: 1px solid #E3E3E3;
    max-width: 295px;
    padding: 31px 32px 32px 32px;
}
.part-1 {
    margin-right: 21px;    
}
.experience-title, .winner-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #37393F;
    text-transform: capitalize;
}
.experience-title {
    margin-bottom: 3px;
}
.box-1 {
    padding-left: 58px;
    background: url(../img/experience.jpg) 0 0 no-repeat;
}
.experience-text, .winner-text {
    font-size: 16px;
    line-height: 1.35;
}    
.winner-title {
    margin-bottom: 3px;
}
.box-2 {
    padding-left: 58px;
    background: url(../img/awards.jpg) 0 0 no-repeat;
}
.box-1, .box-2 {
    min-height: 40px;
}
.experience-and-awards {
    margin-bottom: 37px;
}
.button {
    background-color: #6B77E5;
    max-width: 200px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    padding: 21px 35px 22px 35px;
}
.discover-projects {
    max-width: 1250px;
    margin: 150px auto 150px auto;
    font-size: 0;
    padding-left: 15px;
    padding-right: 15px;    
}
.header-discover {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
    text-align: center;
    font-weight: 400;
    max-width: 852px;
    margin: 0 auto;
    margin-bottom: 47px;
}
.latest-projects {
    color: #37393F;
    font-weight: 500;
    line-height: 1.2;
    display: inline-block;
    text-transform: capitalize;
    background: url(../img/square.jpg) 0 5px /12px 12px no-repeat;
    padding-left: 17px;
}
.latest-projects, .discover-title {
    margin-bottom: 14px;
}
.discover-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393F;
    margin-bottom: 14px;
}
.first-row {
    margin-bottom: 58px;
}
.dicover-item {
    display: inline-block;
    width: 100%;
    max-width: 384px;
}
.discovery-image {
    min-height: 501px;
    max-width: 100%;
    margin-bottom: 24px;
}
.discovery-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.27;
    color: #37393F;
    margin-bottom: 10px;
}
.discovery-date {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    padding-left: 25px;
    min-height: 22px;
    background: url(../img/date.jpg) no-repeat;
    font-size: 14px;
    line-height: 1.46;
}
.item-first, .item-second, .item-fourth, .item-fifth {
    margin-right: 34px;
}
.item-first .discovery-image {
    background: url(../img/investment-1.jpg) center / cover no-repeat;
}
.item-second .discovery-image {
    background: url(../img/strategy.jpg) center / cover no-repeat;
}
.item-third .discovery-image {
    background: url(../img/consulting.jpg) center / cover no-repeat;
}
.item-fourth .discovery-image {
    background: url(../img/investment-2.jpg) center / cover no-repeat;
}
.item-fifth .discovery-image {
    background: url(../img/development.jpg) center / cover no-repeat;
}
.item-sixth .discovery-image {
    background: url(../img/investment-3.jpg) center / cover no-repeat;
}
.clothing {
    max-width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
} 
.clothing-box {
    padding-left: 21px;
    font-family: "Causten", sans-serif;
    font-weight: 400;
    color: #807D7E;
    font-size: 20px;
    line-height: 1.67;
    letter-spacing: 0.4px;
} 
.clothing-text span {
    font-weight: 700;
}
.clothing-text, .clothing-text p {
    margin-bottom: 20px;
}
.clothing-block {
    margin-bottom: 25px;
}
.clothing-title, .clothing-sub-title, .clothing-button {
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
}
.clothing-button {
    text-transform: capitalize;
}
.clothing-title {
    color: #3C4242;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 30px;
    letter-spacing: 0.56px;
    min-height: 31px;
    background: url(../img/clothing-decor.jpg) no-repeat;
    padding-left: 21px;
    margin-left: -21px;
}
.clothing-sub-title {
    margin-bottom: 25px;
}
.fashion {
    margin-bottom: 50px;
}
.fashion-body {
    max-width: 1244px;
    margin: 0 auto;
    color: #FFF;
    border-radius: 8px;
}
.fashion-left-block, .fashion-right-block {
    min-height: 640px;
    display: inline-block;
    vertical-align: top;
}
.fashion-left-block {
    max-width: 614px;   
    background: url(../img/background.jpg) no-repeat;
    padding: 183px 74px 174px;
    margin-right: -2px;
}
.fashion-right-block {
    min-width: 626px;
    background: url(../img/people.jpg) no-repeat;
    margin-left: -2px;
}
.fashion-title {
    font-family: "Core Sans C", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.47;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.fashion-text {
    font-family: "Causten", sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.fashion-button {
    color: #3C4242;
    font-family: "Causten", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    padding: 12px 44px;
    background-color: #fff;
    margin-bottom: 50px;
    text-transform: capitalize;
}
footer {
    color: #3C4242;
    font-family: "Causten", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}
.fashion-span {
    text-transform: uppercase;
}