@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@font-face {
    font-family: "Old Standart TT";
    src: url(../fonts/oldstandardttbold.woff2) format("woff2"),
         url(../fonts/oldstandardttbold.woff) format("woff");
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}
@font-face {
    font-family: "Old Standart TT";
    src: url(../fonts/oldstandardttitalic.woff2) format("woff2"),
         url(../fonts/oldstandardttitalic.woff) format("woff");
         font-weight: normal;
         font-style: normal;
         font-display: swap;
}
body {
    font-family: "Old Standart TT", cursive;
    font-size: 20px;
    color: rgb(17, 87, 7);
    line-height: 1.15;
}
.business {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27; 
}
.text-1 {
    font-family: "Inter", sans-serif;
    color:#7D7D7D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.46;
}
.subtitle-1 {
    font-family: "Poppins", sans-serif;
    color: #6B77E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.27;
}
.subtitle-2 {
    font-family: "Poppins", sans-serif;
    color: #37393F;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.27;
}
.main-title {
    font-family: "Inter", sans-serif;
    color: rgba(27, 74, 230, 0.993);
    font-size: 70px;
    font-style: normal;
    font-weight: 1000;
    line-height: 1.27;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 1px rgb(0, 0, 0),
     -2px -2px 1px rgb(0, 0, 0);
}
.computing {
    font-family: "Inter", sans-serif;  
    color: aquamarine;  
    text-transform: capitalize;
    font-weight: 900;
    font-size: 60px;
    text-shadow: -2px -2px 1px rgb(7, 7, 7),
    2px 2px 100px rgb(37, 14, 236);
}
.working-definition {
    font-size: 30px;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: overline; 
    color: rgb(92, 57, 10);
    letter-spacing: 3px;
    text-align: left;
    }
.transforming {
    color: blueviolet;
    font-size: 60px;
    text-decoration: line-through;
    text-shadow: 2px 2px 80px rgb(15, 15, 15),
    -1px -1px 3px rgb(9, 40, 180);
    }
    .personalized-learning {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        text-shadow: -1px -1px 1px rgb(240, 7, 7),
    2px 2px 40px rgb(218, 57, 8);
        }
    .technology {
        text-shadow: -1px -0px 1px rgb(13, 13, 14),
        2px 2px 80px rgb(8, 218, 43); 
        text-indent: 35px;
        }
    .iPads-and-laptops {
        font-family: "Poppins", sans-serif;
        color: deeppink;
        text-shadow: 1px 1px 1px rgb(88, 36, 36),
        -2px -2px 40px rgb(218, 57, 8);
        word-spacing: 4px;
        text-align: justify;
    }
    .massive-investments {
        white-space: nowrap;
    }